*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html {
  background-image: url(./assets/background.png);
  background-position: center;
}

header,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  padding: 8px;
  text-align: center;
  background: url(./assets/header-bg.png);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  
}

header > img {
  max-width: 70px;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

.card-holder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;

  padding: 8px;
}

.card {
  max-width: 300px;
  border: 2px solid black;
  border-radius: 21px;
  overflow: hidden;
}

.card > img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

@media (min-width: 700px) {
  .score {
    display: flex;
    gap: 12px;
  }

  .card-holder {
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;

    padding: 12px;
  }

  .card {
    border-width: 3px;
  }
}

@media (min-width: 1400px) {
  .card-holder {
    gap: 26px;
  }
}