*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html {
  --site-color: #b4aa82;
  background-image: url(./assets/background.png);
  background-position: center;
}

body {
  position: relative;
  min-height: 100vh;
  height: 100%;
}

header,
main,
.wrapper,
div.win-modal.visible,
.win-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  padding: 8px;
  text-align: center;
  background: url(./assets/header-bg.png);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

header > img {
  max-width: 150px;
}

main {
  padding-bottom: 200px;
}

h1 {
  font-size: 1.8rem;
}

.score {
  display: flex;
  justify-content: center;

  gap: 12px;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  padding: 8px;
  font-weight: normal;
  text-align: center;
}

.card-holder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;

  padding: 8px;
}

.card {
  max-width: 300px;
  border: 2px solid var(--site-color);
  border-radius: 21px;
  overflow: hidden;
}

.card > img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer .lace {
  background-image: url(./assets/footer-bg.png);
  background-position: center;
  background-size: contain;
  height: 38px;
}

footer .footer-content {
  padding-bottom: 12px;
  color: white;
  text-align: center;
  background-color: var(--site-color);
}

a {
  color: white;
}

.link-holder {
  display: flex;
  justify-content: center;
  gap: 24px;

  padding: 12px;
}

.link-holder > a {
  --link-button-size: 40px;
  width: var(--link-button-size);
  height: var(--link-button-size);
  padding: 0;
  background-size: cover;
}

a.icon-github {
  background-image: url(./assets/icons8-github-60.png);
}

a.icon-linkedin {
  background-image: url(./assets/icons8-linkedin-60.png);
}

a.icon-instagram {
  background-image: url(./assets/icons8-instagram-60.png);
}

.win-modal {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.4);
}

.win-card {
  position: relative;
  height: 250px;
  width: 300px;
  background-color: white;
  border: 2px solid var(--site-color);
  border-radius: 21px;
  text-align: center;
}

.win-card .close {
  font-size: 28px;
  position: absolute;
  top: 0;
  right: 20px;

  border: none;
  background-color: inherit;
}

.win-card img {
  max-width: 150px;
}

@media (min-width: 700px) {
  header > img {
    max-width: 200px;
  }

  .wrapper {
    margin: 0 24px 24px 24px;
    padding: 24px;
    border: 2px solid var(--site-color);
    border-radius: 21px;
    background-color: rgb(255, 255, 255, 0.4);
    text-align: center;
  }

  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  .card-holder {
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;

    padding: 12px;
  }

  .card {
    border-width: 3px;
  }
}

@media (min-width: 1400px) {
  header > img {
    max-width: 250px;
  }

  .card-holder {
    gap: 26px;
  }

  footer {
    margin-top: 24px;
  }
}
